{% extends "base.html" %}

{% block title %}Accounts Detail{% endblock %}

{% block content %}
<div>
    <h1>{{ profile.username }}さんのプロフィールです</h1>
    <p><a href="{% url 'tweets:create' %}">Tweetする</span></a></p>
    <a href="{% url 'accounts:logout' %}">Log out</a>
</div>

{% for tweet in tweets %}
<div>
    {% if tweet.author == request.user %}
        <p><a href="{% url 'tweets:delete' pk=tweet.pk %}">ツイ消しボタン</a></p>
    {% endif %}
    <p>published: {{ tweet.published_date }}</p>
    <h4>username: <a href="">{{ tweet.author }}</a></h4>
    <p><a href="{% url 'tweets:detail' pk=tweet.pk %}">{{ tweet.text|linebreaksbr }}</a></p>
    <hr>
</div>
{% endfor %}
{% endblock %}
