<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Twitter Clone{% endblock %}</title>
</head>

<body>
    <!-- header  -->
    <header class="mb-3">
        <h1><a href="{% url 'tweets:home' %}">Twitter Clone</a></h1>
    </header>
    <!-- /header  -->

    <!-- main  -->
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <!-- /main  -->
    <script src="{% static 'js/toggle_like.js' %}"></script>
</body>

</html>
